fastapi==0.115.12
uvicorn[standard]==0.34.0
streamlit==1.44.1
requests==2.32.3
python-multipart==0.0.20
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.4.0
chromadb==0.6.3
pypdf==5.4.0
langchain-core==0.3.51
langchain-text-splitters==0.3.8
langchain-google-genai==2.1.2
pydantic==2.11.3
